.calendarview .day {
    stroke: #cecece;
    fill: white;
}

/* 動画用 */
.calendarview .day.active {
    fill: var(--chart-sub-color);
    transition: fill 0.3s ease;
}

/* ライブのアーカイブ用 */
.calendarview .day.active.archive {
    fill: var(--chart-main-color);
}

/* 動画用 */
.calendarview .day.active:hover {
    fill: var(--chart-sub-strong-color);
}

/* ライブのアーカイブ用 */
.calendarview .day.active.archive:hover {
    fill: var(--chart-main-strong-color);
}

.calendarview .tooltip {
    position: absolute;
    pointer-events: none;
    background: white;
    border-radius: 2px;
    padding: 0.4em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    max-width: 400px;
}

.calendarview .tooltip h3 {
    margin: 0;
}