.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error .error-icon {
    font-size: 8em;
    color: var(--icon-color);
}

.error .error-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}