
@media screen and (max-width:500px) { 
    .video-grid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:500px) { 
    .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-auto-rows: auto;
    }
}